.portfolio {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 90vh; 

  }

  

  
  .portfolio-wallet {
    /* text-align: center; */
    margin-bottom: 20px;
    font-weight: bold;
  } 



  
  .stock-item {
    border-radius: 5px;
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin-bottom: 20px;
  }




  .portfolio-header{
    background-color: #f8f8f8;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .stock-item h2 {
    margin: 0;
    color: #333;
  }
  
  .stock-item h2 span {
    font-weight: normal;
    color: #666;
  }


  .portfolio-body{
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    font-weight: bold;
  }



  .portfolio-body-info{
    padding: 20px 30px;
    width: 40%;
  }

  .portfolio-body-info-detail{
    display: flex;
    justify-content: space-between


  }
  
 
  
  .change.up {
    color: green;
  }
  
  .change.down {
    color: red;
  }
  
  .buy, .sell {
    padding: 5px 15px;
    /* margin-right: 5px; */
  }
  
  .buy {
    background-color: #0968f7;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .sell {
    background-color: #d52c3f;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .portfolio-tail{
    display: flex;
    background-color: #f8f8f8;

    padding: 5px;
  }

  .portfolioButtonContainer{
    margin: 2px 5px;
  }
  