.stock-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .summary-section {
    width: 40%; 
  }
  
  .price-info {

    padding: 20px;
    margin-bottom: 20px;
  }
  
  .company-info {
    display: flex;
    flex-direction: column;

    align-items: center;

  }
  
  .company-info h2 {
    margin-bottom: 10px;
  }
  
  .chart-section {
    width: 50%;

  }
  
  /* Add any additional styling as needed */


  .summary-titles{
    font-weight: bold;
  }

  .underLine{
    text-decoration: underline;

  }
  