
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 

  margin: auto;
}

.article {
  display: flex;
  align-items: center; 
  width: 45%;

  margin: 10px; 
  border: 1px solid #cac7c7; 
  background-color: #fbfbfb;

  border-radius: 10px; 
  padding: 20px;
}

.image {
  height: 80px; 
  width: 120px; 
  margin-right: 20px;
  object-fit: cover; 

}

.title {
  color: #666;
  font-size: 1em; 
}



.modal {
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow: auto; 

}

.closeButton {
  color: blue;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;

}

.modal-content {
  background-color: white;
  outline: none;
  border-radius: 4px;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
  width: auto; 
  max-width: 500px; 
  height: auto;


  margin: auto; 
}

.modal-title-news {
  padding-top: 10px;
  padding-left: 10px;
  border: none;
}

.modal-date {
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666; 
  color: #666;
  font-size: 14px;


}

.modal-headline {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;


}

.modal-summary {
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 0px;
}

.modal-url {
  padding-left: 10px;
  font-size: 14px;
  color: #666;
}


.social-share {
  padding-left: 10px;
  border: 1px solid #cac7c7; 
  border-radius: 10px; 

  margin: 10px;
  padding-bottom: 5px;
}




.modal-share svg {
  margin:10px;
  fill: currentColor; 
  width: 30px; 
  height: 30px; 
}