.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #2729b3;
}
.nav-name{
  margin:10px ;
  margin-left:30px ;
  color: white;
}

.nav-link{
    color: white;
}


#watchList .nav-link.active {
    background-color: transparent;
    border: 1px solid wheat; 
  }

#search .nav-link.active {
  background-color: transparent;
  border: 1px solid wheat; 
}

#portfolio .nav-link.active {
  background-color: transparent;
  border: 1px solid wheat; 
}
  