.stock-zone {
    display: flex;

    justify-content: center;
    align-items: center;

    /* height: max-content; */
    /* width: 100%; */
  }

.stock-symbol {
  font-weight: bold;
  font-size: 2rem;
}


.stock-header {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 50px;

}


.stock-favorite {
  color: gold;
}

.stock-company-name {
  font-size: 1.5rem;
}

.stock-exchange {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}


.stock-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.stock-logo {
  width: 70px;
}

.stock-price {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  margin-bottom: 15px;
  margin: 50px;
}

.current-price {
  font-size: 1.5rem;
  color: green;
  margin-right: 5px;
}

.price-change {
  font-size: 1rem;
  color: green;
}

.time-status {
  font-size: 0.8rem;
  color: #666;
}

.buy-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #47b74b; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px ;
  /* cursor: pointer; */
  border-radius: 5px;
}

.sell-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px ;
  /* cursor: pointer; */
  border-radius: 5px;
}


.market-status{
  margin-top: 30px;
}

.greenWords{
  color: #47b74b;
}

.redWords{
  color: red;
}