.form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* .buttonGroupArea {
    /* align-items: stretch;
} 
*/

@media only screen and (max-width: 390px) {
    .form .inputArea {
        
      max-width: 350px;
  
    }
}