.inputForm-title{
    text-align: center;
    margin-bottom: 20px;
}

#input-submit{
    border-left: none;
    border-right: none;
    border-color: #e2e5e9;

}

#input-clean{
    border-left: none;
    border-color: #e2e5e9;


}

#input-text{
    border-right: none;

}

@media only screen and (max-width: 390px) {
    .inputform-container .input-group{
        
      max-width: 350px;
  
    }
}